body{
	background-color: white;
	font-family: "Arial";
}
.vline1{
	position: absolute;
	right: 0px;
	border: 2px solid #ffb253;
	height: 100vh;
	margin-right: 50px;
	opacity: 0.2;
}
.vline2{
	position: absolute;
	right: 0px;
	border: 3px solid #ffb253;
	height: 100vh;
	margin-right: 100px;
	opacity: 0.5;

}
.vline3{
	position: absolute;
	right: 0px;
	border: 4px solid #ffb253;
	height: 100vh;
	margin-right: 150px;
	opacity: 0.6;

}

.hline{
	position: static;
	border: 2px solid #ffb253;
	width: 100vw;
	margin-top: 15px;
	margin-bottom: 15px;
	opacity: 0.5;
}

.login,.register{
	text-align: center;
}

.forminner {
    padding: 10px;
}

.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
}

button {
	background-color: #ffb253;
	opacity: 0.8;
	border: none;
	border-radius: 10px;
	margin: 5px; 
	padding: 5px;
}
button:hover{
	border: 2px solid #7cdbf5;
	margin: 3px;
}

.formInput {
	margin-bottom: 20px;
}

.formInput label{
	display: inline-block;
	text-align: left;
	width: 150px;
}

.formInputBottom{
	margin-top: 15px;
}

.formInputBottom input{
	width: 100px;
	margin-right: 10px;
}

.formInputBottom label{
	width: 100px;
	padding: 5px;
}

.register{
	margin-top: 30px;
}